# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Jump To Definition',
      'command': 'sourcegraph-atom:jump-to-definition'
    },
    {
      'label': 'See Documentation and Examples',
      'command': 'sourcegraph-atom:docs-examples'
    }
  ]
'menu': [
  {
    'label': 'Packages',
    'submenu': [
      'label': 'Sourcegraph'
      'submenu': [
        {
          'label': 'Search on Sourcgraph',
          'command': 'sourcegraph-atom:search-on-sourcegraph'
        }
      ]
    ]
  }
]
